.mainPic {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding-top: 5px;

}

.mainPic p {
    text-align: center;
    font-size: 24px;
    padding-bottom: 10px;
}

.mainPic p.partTwo {
    display: flex;
    padding: 0 20px 10px 20px;
    justify-content: space-between;
    font-size: 20px;
}

.detail {
    width: 700px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.detail p {

}
