body {
    padding-top: 20px;
}

.mainPic {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding-top: 5px;
    background-size: 300px 100px;
    position: relative;
    background-color: rgba(249, 243, 220, 0.5);
    overflow: hidden;
}

.mainPic p {
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
}

.mainPic img {
    position: absolute;
    z-index: 0;
    width: 300px;
    left: 0;
    bottom: -30px;
}

.mainPic p.partTwo {
    display: flex;
    padding: 0 20px 5px 20px;
    justify-content: space-between;
    font-size: 20px;
}

.detail {
    background-color: rgba(249, 243, 220, 0.5);
    width: 700px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.detail p {
    font-size: 24px;
}

.update {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    position: relative;
}

.update .top {
    padding-top: 25px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);

}

.update img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.3;

}

.update p {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    color: red;
}

.update p.partTwo {
    font-size: 20px;
}

.pe p {
    color: white !important;
}

.border-red {
    display: inline-block;
    padding: 2px;
    border: 2px solid red;
}

.cover {
    display: block;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    color: gray;
    word-break: break-all;
    word-wrap: break-word;
    word-spacing: 30px;
    line-height: 50px;
    font-size: 30px;
    z-index: 1;
    opacity: 0.5;
    overflow: hidden;
}
