* {
  margin 0;
  padding 0;
  box-sizing border-box;
  font-family: "Microsoft YaHei"
}

.g-pageHead {
  font-size: 26px;
  font-weight: bolder;
  padding: 10px 0;
}

/* 谷歌美化滚动条 */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #f3f4f9;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background: #c8d2e0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #333;
}

*::-webkit-scrollbar-corner {
  background: #c8d2e0;
}


/* 火狐美化滚动条 */
* {
  scrollbar-color: #c8d2e0 #f3f4f9;
  /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin;
  /* 滚动条宽度有三种：thin、auto、none */
}

a {
  text-decoration none;
  color white;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.g-border-top-none {
  border-top: none !important;
}

.g-border-bottom-none {
  border-bottom: none !important;
}

.g-border-left-none {
  border-left: none !important;
}

.g-border-right-none {
  border-right: none !important;
}

.g-text-left {
  text-align: left !important;
}

.g-text-right {
  text-align: right !important;
}

.g-font-normal {
  font-style: normal !important;
}

.g-font-weight {
  font-weight: bold !important;
}

.g-block {
  display: block !important;
}

.g-inline-block {
  display: inline-block !important;
}

//溢出文本显示省略号
.g-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.g-overflow-line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.g-border-box {
  box-sizing: border-box !important;
}

.g-content-box {
  box-sizing: content-box !important;
}

.g-container {
  min-width: 860px;
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
}

.g-infoBox {
  height: calc(100vh - 140px);
  overflow-y: scroll;
  padding: 0 10px;
}

.g-red {
  color: #F56C6C
}

.g-grey {
  color: #909399
}

.g-yellow {
  color: #E6A23C
}

.g-green {
  color: #67C23A
}

.g-h1 {
  font-size 16px
}

.g-h2 {
  font-size 18px
}

.g-h3 {
  font-size 20px
}

.g-h4 {
  font-size 22px
}

.block {
  padding: 10px;
  display: inline-block;
}

.download {
  display: inline-block;
  color: white;
  background-color: #2aabd2;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;

}

.g-cursor {
  cursor: pointer
}
